.hobbies{
    padding-top: 130px;
}

.hobbies .title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.sports, .videoGames{
    display: flex;
    height: auto;
}

.videoGames{
    margin-bottom: 100px;
}

@media screen and (max-width: 520px){
    
    .videoGames{
        margin-bottom: 50px;
    }

}